{% extends 'buzzfuzz/base.html' %}
{% load staticfiles profiletags %}
{% block title %}Profile details{% endblock %}

{% block content %}
  <h3 class="title">Profile of {{ profile.user.username }}</h3>
  <a class="btn-flat" href="{% url 'buzzfuzz:index' %}">⇠ Back to list</a>
  <div class="card">
    <div class="card-content">
      <p class="center-align">Name: {{ profile.user.username }}</p>
      <p class="center-align">Email: {{ profile.user.email }}</p>
      <p class="center-align">Birthday: {{ profile.birthday|date:'Y-m-d' }}</p>
      <p class="center-align">Eligible: <b>{% status profile %}</b></p>
      <p class="center-align">Random: {{ profile.random }}</p>
      <p class="center-align">BizzFuzz: {% bizzfuzz profile %}</p>
    </div>
    <div class="card-action">
      <form class="right" method="POST" action="{% url 'buzzfuzz:delete' profile.id %}">{% csrf_token %}
        <input class="btn red" type="submit" value="Delete">
      </form>
      <a class="btn" href="{% url 'buzzfuzz:edit' profile.id %}">Edit profile</a>
    </div>
  </div>
{% endblock %}
